* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: blueviolet;
	text-align: center;
}

h1 {
	margin-bottom: 1rem;
    color: white;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.squares {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.sq {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 6rem;
	height: 6rem;
	background-color: goldenrod;
}